<footer id="footer" class="sixteen columns footer" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <div class="row text-center">Developed by <%= link_to 'Henry Bergström', 'https://github.com/frozenbanana' %> and <%= link_to 'Matthew Serre', 'https://github.com/MatthewSerre' %>
    <br />
  2020</div>

  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>
